<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{$thisCate.name}-{:config('site.name')}</title>
    <meta name="keywords" content="{:config('site.keyword')}">
    <meta name="description" content="{:config('site.content')}">
    {include file="public:cssjs" /}
</head>

<body>
    {include file="public:header" /}
    <div class="guide">
        <a href="/">首页</a> / {$thisCate.name}
    </div>
    <div class="leftBox">
        <div class="leftCate">
            <div class="bd">
                {volist name="treeMenu" id="vo"}
                <li {eq name="vo.path" value="$path"}class="active"{/eq}><a href="{:url('store/index','path='.$vo['path'])}">{$vo.name}</a></li>
                {/volist}
            </div>
        </div>
    </div>
    
    {notempty name="cate"}
    <div id="brand" class="rightCateBox">
        <div class="rightCate">
            <li {empty name="cid"}class="active"{/empty}><a href="{:url('store/index','path='.$path)}">全部</a></li>
            {volist name="cate" id="vo"}
            <li {eq name="vo.id" value="$cid"}class="active"{/eq}><a href="{:url('store/lists',['path'=>$path,'cid'=>$vo['id']])}">{$vo.name}</a></li>
            {/volist}
        </div>
    </div>
    {/notempty}

    <div class="rightBox">
        {volist name="list" id="vo" empty="$empty"}
        <div class="layui-col-xs6 layui-col-sm3 layui-col-md2">
            <div class="product">
                <a href="javascript:void(0)" onclick="openModel('{$vo.url}','商品详情','1100px','80%')">
                <img src="{$vo.picname|getThumb=280,280}" alt="">
                </a>
                <div class="bd">
                    <a href="javascript:void(0)" onclick="openModel('{$vo.url}','商品详情','1100px','80%')">
                    <h1 class="layui-elip">{$vo.name}</h1>
                    </a>
                    {gt name="user.id" value="0"}
                    <div class="price">
                        <p>价格：<span>${$vo.price}</span></p>
                        <p>会员价：<span>${$vo.price1}</span></p>
                    </div>
                    <div class="action">
                        <div class="addCart" data-id="{$vo.goodsID}" data-type="{$vo.typeID}" spec-id="{$vo.id}" data-img="{$vo.picname|getThumb=280,280}"><i class="layui-icon layui-icon-cart"></i></div>
                    </div>
                    {/gt}
                </div>
            </div>
        </div>        
        {/volist}
        {$page}        
    </div>
    
<script type="text/javascript" src="{:RES}/js/iframe.js"></script>
<script type="text/javascript" src="{:RES}/js/cart.js"></script>
</body>
</html>