<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">修改密码</h1>
</header>

{include file="public/nav" /}

<div class="mui-content">

	<form id="myForm" class="mui-input-group">
	    <div class="mui-input-row">
	        <label>原始密码</label>
	        <input type="password" name="oldpassword" class="mui-input-password" placeholder="请输入原始密码" checkType="required" checkMsg="请输入原始密码">
	    </div>

	    <div class="mui-input-row">
	        <label>新密码</label>
	        <input type="password" name="password" id="password" class="mui-input-password" placeholder="请输入新密码" checkType="string" checkData="6,20" checkMsg="密码应为6-20个字符">
	    </div>

	    <div class="mui-input-row">
	        <label>重复密码</label>
	        <input type="password" name="cpassword" id="cpassword" class="mui-input-password" placeholder="重复登录密码" checkType="sameWithId" checkData="password" checkMsg="两次密码不一致">
	    </div>	    
	</form>
	<div class="main">
		<button id="submitBtn" action="{:url('Member/password')}" type="button" class="mui-btn mui-btn-blue mui-btn-block my-btn">保存</button>
	</div>
</div>