<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">修改密码</h1>
</header>

{include file="public/nav" /}

<div class="mui-content">
	<ul class="mui-table-view" style="margin-top: 10px;">
		<li class="mui-table-view-cell">
			<a href="{:url('Member/password')}" class="mui-navigate-right">修改登录密码</a>
		</li>
		<li class="mui-table-view-cell">
			<a href="{:url('Member/paypassword')}" class="mui-navigate-right">修改交易密码</a>
		</li>
	</ul>
</div>