<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">物流详情</h1>
</header>
<div class="mui-content">
    <div class="wuliu">
        {notempty name="list.image"}
        <li>
            <p>{eq name="list.updateTime" value="0"}-{else/}{$list.updateTime|date="Y-m-d H:i:s",###}{/eq}</p>
            <p>阿德莱德处理中心-Australia</p>
            <p>货物打板装车，正运往悉尼，途中需三个工作日</p>
        </li>
        {/notempty}
        {volist name="result.TrackList" id="vo"}
        <li>
            <p>{$vo.StatusTime}</p>
            <p>{$vo.Location}</p>
            <p>{$vo.StatusDetail}</p>
        </li>
        {/volist}        
    </div>
</div>