<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">物流详情</h1>
</header>
<div class="mui-content">
    <div class="wuliu">
        <li>
            <p>阿德莱德处理中心-Australia {eq name="list.status" value="0"}待审核付款{else/}准备配货{/eq}</p>
        </li>
        {notempty name="list.image"}
        <li>
            <p>阿德莱德处理中心-Australia 货物打板装车，正运往悉尼</p>
        </li>
        {/notempty}
        {volist name="result.TrackList" id="vo"}
        <li>
            <p>{$vo.StatusTime}</p>
            <p>{$vo.Location}</p>
            <p>{$vo.StatusDetail}</p>
        </li>
        {/volist}        
    </div>
</div>