<style type="text/css">
.hAddress{padding: 10px 0; background:#fcf8e3; color:#8a6d3b; margin-top: 15px;}
.hAddress p{font-size: 16px; padding: 5px 10px}
</style>

<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">购物车</h1>
</header>

{include file="public/nav" /}

<div class="mui-content" id="cartContent">
    {gt name=":config('site.discount')" value="0"}
    <div class="alert">今日下单，马上享受{:config('site.discount')}折</div>
    {/gt}
    {empty name="list"}

    <div class="emptyCart">
        <p>您没有选择任何商品！</p>
        <a href="{:url('store/category')}" class="mui-btn my-btn">去购买</a>
    </div>

    {else/}
    
    <div id="emptyDiv" style="display: none;">
        <div class="emptyCart">
            <p>您没有选择任何商品！</p>
            <a href="{:url('store/category')}" class="mui-btn my-btn">去购买</a>
        </div>
    </div>

    {volist name="list" id="vo"}
    <div class="mui-row cartList">
        <div class="mui-col-xs-3">
            <img src="{$vo.goods.picname|getThumb=280,280}">
        </div>

        <div class="mui-col-xs-8" style="padding-left:10px" id="cart{$vo.id}">
            <p>{notempty name="vo.goods.wuliu"}【{$vo.goods.wuliu}】{/notempty}{$vo.goods.name}{$vo.extends}</p>
 			{volist name="vo.server" id="s"}
            <div class="serverLi" data-name="{$s.name}" data-price="{$s.price}" data-number="{$vo.goodsNumber}">
                {$s.name}${$s.price}/件，数量{$vo.goodsNumber * $vo.number}，合计${$s.price * $vo.goodsNumber * $vo.number}
            </div>
            {/volist}
            <p>{$vo.goods.weight}kg</p>
            <p class="m">{$vo.goods.price}</p>      
            <div class="numberAction" data-id="{$vo.id}" data-price="{$vo.goods.price}" data-weight="{$vo.goods.weight}">
                <div class="set" data-action="dec">-</div>
                <div class="buyNumber" id="buyNum{$vo.id}">{$vo.number}</div>
                <div class="set" data-action="inc">+</div>
            </div>
        </div>

        <div class="mui-col-xs-1" style="text-align:center">
            <a href="javascript:void(0)" class="delBtn" data-id="{$vo.id}" style="color:#999;"><i class="mui-icon mui-icon-trash" style="font-size:18px"></i></a>
        </div>
    </div>
    {/volist}
	
	<div class="infobox" style="margin-bottom:10px">
        <div class="hd">快递选择</div>

        <div style="line-height:120%;color: #f00;padding:5px 10px;border-bottom:1px #f1f1f1 solid">{:config('site.weibo')}</div>
        <div style="padding: 5px 0; clear: both; overflow: hidden;">
        <div class="kBtn">澳洲直邮</div>
        </div>

        <div class="loadding" style="display: none;"><i class="mui-spinner"></i></div>

        <div class="kuaidi" style="display: none;">
            {eq name="flag" value="0"}
            <li data-type='zh'>
                <div class="kInfo">
                    <div class="name">澳邮中环</div>
                    <div class="intr" id="zhIntr">&nbsp;</div>
                </div>
                <div class="radio"></div>
            </li>
            <div class="kdResult" id="zhBaoguo" style="display: none;"></div>
            {/eq}

            <li data-type='zy' >
                <div class="kInfo">
                    <div class="name">澳邮中邮</div>
                    <div class="intr" id="zyIntr">&nbsp;</div>
                </div>
                <div class="radio"></div>
            </li>
            <div class="kdResult" id="zyBaoguo" style="display: none;"></div>
	    </div>	    
    </div>
    
    
    <div style="height:70px; clear:both"></div>

    <div class="selectFooter" style="bottom: 51px">
        <div class="cartInfo" style="font-size: 12px">
            商品：<span id="goodsMoney">{$heji.total}</span> &nbsp;&nbsp;邮费：<span id="youfei">0</span> &nbsp;&nbsp;合计：<span class="money" id="total">${$heji.total}</span>
        </div> 
        <div id="doJiesuan" action="{:url('Store/order')}" class="btn">去结算</div>
    </div>
    {/empty}
</div>
<input type="hidden" id="kuaidi" value="">
<input type="hidden" id="activeIndex" value="cart" />
<script>
var baoguoData = [];
mui.init();
mui.ready(function(){
	//删除商品
    $(".delBtn").click(function(){    
        var id = $(this).attr('data-id');
        var o = $(this);
        mui.confirm('确认要从购物车删除吗？',function(e){
        	if (e.index==1){
        		$.get('{:url("www/cart/delcart")}?id='+id,function(res){
                    $(o).parent().parent().remove();
                    $("#goodsMoney").html(res.total);
                    youfei = parseFloat($("#youfei").html());
                    $("#total").html("$"+(parseFloat(res.total)+youfei).toFixed(2)); 

                    goodsMoney = parseFloat($("#goodsMoney").html());
                    $("#youfei").html('0');
                    $("#total").html(goodsMoney);
                    $(".kuaidi li").removeClass("active");
                    $(".kuaidi li .intr").html("&nbsp;");
                    $("#kuaidi").val('');
                    $(".kuaidi").hide();
                    $(".kdResult").html('').hide();
                    $(".kBtn").removeClass("active");     
                    window.location.reload();   
                },'json')
        	}                
        });
    });

    //更改数量
    $('.numberAction .set').on('click', function () {
        $(".kuaidi li").removeClass("active");
        $(".kuaidi li .intr").html("&nbsp;");
        $(".kdResult").html('');
        $("#kuaidi").val('');
        var action = $(this).attr("data-action");
        var cartID = $(this).parent().attr("data-id");
        var danjia = parseFloat($(this).parent().attr("data-price"));
        var number = $("#buyNum"+cartID);
        oldNum = parseInt(number.html());
        if (action=='inc'){
            v = oldNum+1;
        }else{
            if (oldNum>1){
                v = oldNum-1;
            }
        }
        number.html(v);
        setServer("cart"+cartID,v);        

        if (v != oldNum){
            $.get("{:url('www/cart/setCartNum')}?number="+v+"&cartID="+cartID+"&temp="+new Date().getTime(),function(res){
                $("#goodsMoney").html(res.total); 
                youfei = parseFloat($("#youfei").html());
                $("#total").html("$"+(parseFloat(res.total)+youfei).toFixed(2)); 
            },'json'); 
        }

        goodsMoney = parseFloat($("#goodsMoney").html());
        $("#youfei").html('0');
        $("#total").html("$"+goodsMoney);
        $(".kuaidi").hide();
        $(".kdResult").html('').hide();
        $(".kBtn").removeClass("active");
    });

    $(".kBtn").click(function(){
        if($(this).hasClass('active')){
            return false;
        }
        $(this).addClass("active");
        $(".loadding").show();
        $.get("{:url('www/cart/getYunfeiAll')}?temp="+new Date().getTime(),function(res){
            $(".loadding").hide();
            baoguoData = res;
            $("#zyIntr").html('包裹数：'+res.zhongyou.baoguo.length+'箱，总重量：'+res.zhongyou.totalWuliuWeight+'kg，运费:$'+res.zhongyou.totalPrice);
            $("#zhIntr").html('包裹数：'+res.zhonghuan.baoguo.length+'箱，总重量：'+res.zhonghuan.totalWuliuWeight+'kg，运费:$'+res.zhonghuan.totalPrice);
            $(".kuaidi").show();

            _html = '<div class="kdBaoguo">';                
            for (var i = 0; i < res.zhongyou.baoguo.length; i++) {
                _html += '<li>';
                _html += '<div class="goods">';
                for (var j = 0; j < res.zhongyou.baoguo[i].goods.length; j++) {
                _html += '<p>'+res.zhongyou.baoguo[i].goods[j]['trueNumber']+' * '+res.zhongyou.baoguo[i].goods[j]['name']+'</p>';
                }
                _html += '</div>';
                _html += '<div class="yunfei">'+res.zhongyou.baoguo[i].kuaidi+' - 约'+res.zhongyou.baoguo[i].totalWuliuWeight+'kg - $'+res.zhongyou.baoguo[i].yunfei+'</div>';
                _html += '</li>';
            }                
            _html += '</div>';
            $("#zyBaoguo").html(_html);

            _html = '<div class="kdBaoguo">';                
            for (var i = 0; i < res.zhonghuan.baoguo.length; i++) {
                _html += '<li>';
                _html += '<div class="goods">';
                for (var j = 0; j < res.zhonghuan.baoguo[i].goods.length; j++) {
                _html += '<p>'+res.zhonghuan.baoguo[i].goods[j]['trueNumber']+' * '+res.zhonghuan.baoguo[i].goods[j]['name']+'</p>';
                }
                _html += '</div>';
                _html += '<div class="yunfei">'+res.zhonghuan.baoguo[i].kuaidi+' - 约'+res.zhonghuan.baoguo[i].totalWuliuWeight+'kg - $'+res.zhonghuan.baoguo[i].yunfei+'</div>';
                _html += '</li>';
            }                
            _html += '</div>';
            $("#zhBaoguo").html(_html);

        },'json')
    })

    //计算物流
    $(".kuaidi li").click(function(){
        $(".kuaidi li").removeClass("active");
        $(this).addClass('active');
        var obj = $(this);
        var type = $(this).attr("data-type");
        var thisData = [];
        $("#doJiesuan").html("去结算");

        if(type=='zy'){
            $("#zyBaoguo").show();
            $("#zhBaoguo").hide();
            thisData = baoguoData.zhongyou;
        }else{
            $("#zyBaoguo").hide();
            $("#zhBaoguo").show();
            thisData = baoguoData.zhonghuan;
        }
        $(window).scrollTop($(window).height());
        $("#kuaidi").val(type);
        goodsMoney = parseFloat($("#goodsMoney").html());
        $("#youfei").html(thisData.totalPrice);
        $("#total").html("$"+(goodsMoney+parseFloat(thisData.totalPrice)).toFixed(2));

        /*$.get("{:url('www/cart/getYunfei')}?type="+type+"&temp="+new Date().getTime(),function(res){
            if (res.code==1) {
                data = res.data;            
                obj.find(".intr").html('包裹数：'+data.baoguo.length+'箱，总重量：'+data.totalWuliuWeight+'，运费:$'+data.totalPrice);
                _html = '<div class="kdBaoguo">';                
                for (var i = 0; i < data.baoguo.length; i++) {
                    _html += '<li>';
                    _html += '<div class="goods">';
                    for (var j = 0; j < data.baoguo[i].goods.length; j++) {
                    _html += '<p>'+data.baoguo[i].goods[j]['goodsNumber']+' * '+data.baoguo[i].goods[j]['name']+'</p>';
                    }
                    _html += '</div>';
                    _html += '<div class="yunfei">'+data.baoguo[i].kuaidi+' - 约'+data.baoguo[i].totalWuliuWeight+'kg - $'+data.baoguo[i].yunfei+'</div>';
                    _html += '</li>';
                }                
                _html += '</div>';
                $(".kdResult").html(_html);
                $(window).scrollTop($(window).height());
                kuaidi = $("#kuaidi").val(type);

                goodsMoney = parseFloat($("#goodsMoney").html());
                $("#youfei").html(data.totalPrice);
                $("#total").html("$"+(goodsMoney+parseFloat(data.totalPrice)).toFixed(2));
            }else{
                mui.alert(res.msg);
            }
        },'json'); */
    })

    $("#doJiesuan").click(function(){
        kuaidi = $("#kuaidi").val();
        if (kuaidi==''){
            mui.alert("请选择快递公司");
            return false;
        }else{
            if (kuaidi==0){                
                mui.showLoading();
                $.post("{:url('www/cart/toStoreBuy')}",function(res){
                    mui.hideLoading();
                    if (res.code==1){
                        mui.alert('操作成功',function(){
                            window.location.href = "{:url('order/index')}";
                        })
                    }else{
                        mui.alert(res.msg);
                    }
                },"json")
            }else{
                window.location.href='{:url('cart/order')}?kid='+kuaidi;
            }            
        }
    })
});

function setServer(cart,number){
    server = $("#"+cart).find('.serverLi');
    server.each(function(){
        name = $(this).attr("data-name");
        price = parseFloat($(this).attr("data-price"));
        goodsNumber = parseInt($(this).attr("data-number"));
        total = number * goodsNumber;
        totalMoney = (total * price).toFixed(2);
        _html = name+`$`+price+`/件，数量`+total+`个，合计$`+totalMoney;
        $(this).html(_html)
    })
}
</script>