<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">发件人</h1>
    <a href="{:url('address/addsender',array('kid'=>$kid,'aid'=>$aid))}" class="mui-icon mui-icon-plusempty mui-pull-right"></a>
</header>

{include file="public/nav" /}

<div class="mui-content">
    <div class="myaddress">
        {volist name="list" id="vo"}
            <p>{$vo.name}, {$vo.mobile} <span><a href="{:url('cart/order',array('kid'=>$kid,'aid'=>$aid,'senderID'=>$vo['id']))}">选择</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('Address/editsender',array('kid'=>$kid,'aid'=>$aid,'id'=>$vo['id']))}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" data-url="{:url('Address/delsender',array('id'=>$vo['id']))}" class="delBtn">删除</a></span>
            </p>
        {/volist}
    </div>
</div>
<div style="height: 50px; clear: both;"></div>


<script type="text/javascript">
$(function(){
    $(".delBtn").click(function(){
        var btnArray = ['确认', '取消'];
        var url = $(this).attr("data-url");
        mui.confirm('确定吗？',function(e){
            if (e.index == 1) {
                window.location.href = url;
            }
        })
    });
})
</script> 