<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户中心-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
</head>

<body>
{include file="public:header" /}

<div class="leftBox">
    {include file="public:usermenu" /}
</div>

<div class="rightBox">
	<div class="guide">
	    <a href="/">首页</a> / 用户中心
	</div>

	<div style="padding: 10px; padding-top: 0">
		<div class="layui-card">
			<div class="layui-card-header">用户信息</div>
			<div class="layui-card-body">
				<div class="face">
                    {empty name="user.face"}
                    <img src="{:RES}/image/face.png"/>
                    {else/}
                    <img src="{$user.face}"/>
                    {/empty}
                    <p class="money">{$user['group']|getUserGroup=###}</p>
                </div>
                
                <div class="userInfo">
                    <li>预存款：<span class="money">{$user['money']}</span> <a href="{:url('member/pay')}" class="layui-btn layui-btn-xs layui-btn-danger">充值</a> <span class="gray">(预存款为0时将不再享受会员价)</span></li>                        
                    <li>账号：{$user['id']}</li>                        
                    <li>QQ：{$user['qq']}</li>
                    <li>微信号：{$user['weixin']}</li>
                    <li>注册日期：{$user['createTime']|date="Y-m-d H:i:s",###}</li>
                </div>
			</div>
		</div>

		{volist name="list" id="vo" empty="$empty"}
        <div class="layui-card">
            <div class="layui-card-header" style="color: #999; font-size: 12px;">
            订单号：<a href="{:url('order/detail',array('id'=>$vo['id']))}"><span class="money">{$vo.order_no}</span></a>
            <?php
            if($vo['payType']!=1 && $vo['upload']==0){
                /*if(count($vo['person'])==1){
                    echo '<a href="javascript:void(0)" onclick="openModel (\''.url('order/person',array('id'=>$vo['person'][0]['id'])).'\',\'上传身份证\',\'1000px\',\'80%\')"><span class="layui-badge">未上传身份证，请点击上传</span></a>&nbsp;';
                }else{
                    echo '<span class="layui-badge">未上传身份证，请点击订单详情上传</span>&nbsp;';
                }*/
            }else{
            ?>
            <span class="layui-badge layui-bg-green">已上传身份证</span>
            <?php
            }
            ?>

            <?php
            if($vo['cardID']>0 && $vo['payStatus']==0){
                echo '<span class="layui-badge layui-bg-red">待审核</span>';
            }else{
            ?>
            {switch name="vo.payStatus" }
                {case value="0"}<span class="layui-badge layui-bg-red">待付款</span>{/case}
                {case value="1"}<span class="layui-badge layui-bg-orange">待审核</span>{/case}
                {case value="2"}<span class="layui-badge layui-bg-blue">待配货</span>{/case}
                {case value="3"}<span class="layui-badge">配货中</span>{/case}
                {case value="4"}<span class="layui-badge layui-bg-green">已发货</span>{/case}
                {case value="99"}<span class="layui-badge layui-bg-red">取消订单</span>{/case}
            {/switch}
            <?php } ?>

            {eq name="vo.image" value="1"}
            <span class="layui-badge layui-bg-blue">配货图片已上传</span>
            {/eq}
            
            <span style="float: right;font-size: 12px">{$vo.createTime|date="Y-m-d H:i:s",###}</span>
            </div>
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col>
                        <col width="100">                       
                        <col width="100">                       
                    </colgroup>
                    <tr>
                        <td style="cursor: pointer;" onclick="window.location.href='{:url('order/detail',array('id'=>$vo['id']))}'">
                            {eq name="vo.payType" value="1"}
                            店铺自提
                            {else/}
                            {volist name="vo.person" id="f"}
                            <p>
                            <i class="layui-icon layui-icon-username"></i> {$f.name}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="layui-icon layui-icon-cellphone"></i> {$f.mobile}
                            </p>
                            {/volist}
                            {/eq}
                        </td>
                        <td>
                            <p class="money text-center">{$vo.unit}{$vo.total}</p>
                            {eq name="vo.payStatus" value="0"}<p class="text-center"><a href="{:url('order/payType','order_no='.$vo['order_no'])}" class="layui-btn layui-btn-danger layui-btn-xs">去支付</a></p>
                            {/eq} 
                        </td>                      
                        <td class="actd">        
                            <p class="text-center"><a href="{:url('order/detail',array('id'=>$vo['id']))}" class="layui-btn layui-btn-primary layui-btn-xs layui-btn-fluid">订单详情</a></p>   
                            <?php if($vo['payStatus']==0 && $vo['image']==''){?>
                            <p class="text-center"><a class="layui-btn layui-btn-danger layui-btn-xs" href="{:url('Order/del',array('id'=>$vo['id']))}" onClick="return confirm('确实删除选定的信息？')">删除</a></p>
                            <?php } ?>      
                        </td>
                    </tr>
                </table>                
            </div>
        </div>            
        {/volist}
	</div>

</div>
<script type="text/javascript" src="{:RES}/js/iframe.js"></script>
</body>
</html>