<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">收益明细</h1>
</header>

<div class="mui-content">

	{volist name="list.baoguo" id="vo"}
    <div class="orderList">
        <div class="hd">包裹{$i}<span color="red">{$vo.status|getStatus}</span></div>
        <div class="bd">
            {volist name="vo.goods" id="f"}
            <div class="orderDetail">
                <img src="{$f.picname}">
                <li>
                    <p>{$f.pname}</p>
                    <p>单价：${$f.price} x {$f.number}</p>
                    <p>盈利：${$f.jiangjin*$f.number}</p>
                </li>
            </div>
            {/volist}
        </div>
    </div>
    {/volist}

	<div class="payOk">
		<div class="fd">
			<p>单号<span>{$list.order_no}</span></p>
            <p>下单时间<span>{$list.createTime|date="Y-m-d H:i:s",###}</span></p>
			<p>发货时间<span>{eq name="list.sendTime" value="0"}未发货{else/}{$list.sendTime|date="Y-m-d H:i:s",###}{/eq}</span></p>
			<p>商品金额<span>${$list.goodsMoney}</span></p>
			<p>状态<span>{$list.payStatus|getPayStatus}</span></p>
			<p>客服备注<span>{$list.remark}</span></p>
		</div>
	</div>
</div>