<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>会员中心-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
</head>

<body>
{include file="public:header" /}

<div class="leftBox">
    {include file="public:usermenu" /}
</div>

<div class="rightBox">
    <div class="guide">
        <a href="/">首页</a> / 收件人管理
    </div>
    <div style="padding: 10px; padding-top: 0">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md8">
                <div class="layui-inline" style="width: 200px">
                    <input type="text" class="layui-input" id="orderKey" placeholder="姓名/电话">
                </div>
                <div class="layui-inline">
                    <button type="button" id="sBtn" class="layui-btn">查询</button>
                </div>
            </div>
            <div class="layui-col-md4" style="text-align: right;"><a href="{:url("address/add")}" class="layui-btn">添加收件人</a></div>
        </div>    
        <table class="layui-hide" id="test"></table>      
    </div>
</div>
<script type="text/html" id="area">
    {{d.province}}/{{d.city}}/{{d.area}}              
</script>

<script type="text/html" id="front">
    {{# if(d.front == ''){ }}
    -
    {{# }else{ }}
    <a href="{{d.front}}" target="_blank"><i class="layui-icon layui-icon-picture"></i></a>
    {{# } }}                
</script>

<script type="text/html" id="back">
    {{# if(d.back == ''){ }}
    -
    {{# }else{ }}
    <a href="{{d.back}}" target="_blank"><i class="layui-icon layui-icon-picture"></i></a>
    {{# } }}                
</script>

<script type="text/html" id="barDemo">          
    <a class="layui-btn layui-btn-xs" href="{:url('Address/edit')}?id={{d.id}}">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" href="{:url('Address/del')}?id={{d.id}}" onClick="return confirm('确实删除选定的信息？')">删除</a>
</script>

<script type="text/javascript" charset="utf-8">
$(function(){ 
    $(function(){
        getData();
    })

    $("#sBtn").click(function(){
        getData();
    })

    function getData(){
        layui.use('table', function(){
            var table = layui.table;  
            table.render({
                elem: '#test',
                url:'{:url('address/index')}',
                method:'post',
                where: {keyword:$("#orderKey").val()},
                cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                cols: [[
                  {field:'name', width:100, title: '姓名'},
                  {field:'mobile', width:150, title: '电话'},
                  {field:'province', width:300, title: '地区',templet:"#area"},
                  {field:'address', title: '地址'},
                  {field:'sn', width:200, title: '身份证号'},
                  {field:'front', width:120, title: '身份证(正)',templet:"#front"},
                  {field:'back', width:120, title: '身份证(反)',templet:"#back"},
                  {width:120, fixed:"right",title: '操作',toolbar:"#barDemo"}
                ]],
                page: {
                    limit:20
                }
            });
        });
    }
})
</script>
<script type="text/javascript" src="{:RES}/js/iframe.js"></script>
</body>
</html>