<style type="text/css">
.info{clear: both; overflow: hidden;}
.info li{float: left; margin-right: 10px; padding: 5px 10px; border: 1px #dbdbdb solid; background: #f7f7f7; white-space: nowrap;}
</style>
<div class="layui-row">
	<div class="layui-col-md12">
        <div class="info">
            <li>订单号：{$list.order_no}</li>
            <li>小票号：{$list.No}</li>
            <li>收银员：{$list.adminName}</li>
            <li>会员账号：{$list.memberID}</li>
            <li>会员手机：{$list.mobile}</li>
        </div>
        <table class="layui-table">
            <colgroup>
                <col>
                <col width="150">
                <col width="150">
            </colgroup>
            <thead>
            <tr>
              <th>支付方式</th>
              <th>金额</th>
            </tr> 
            </thead>
            <tbody>
                {volist name="list.pay" id="vo"}
                <tr>
                    <td>{$vo.payType}</td>
                    <td>${$vo.money}</td>
                </tr>
                {/volist}
            </tbody>
        </table>
		<table class="layui-table">
            <colgroup>
                <col>
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
            </colgroup>
            <thead>
            <tr>
              <th>名称</th>
              <th>数量/重量</th>
              <th>单价</th>
              <th>GST</th>
              <th>总金额</th>
            </tr> 
            </thead>
            <tbody>
                {volist name="list.detail" id="vo"}
                <tr>
                    <td>{$vo.name}</td>
                    <td>{$vo.number}</td>
                    <td>{$vo.price}</td>
                    <td>{eq name="vo.gst" value="1"}<span style="color: blue">YES</span>{else/}{/eq}</td>
                    <td>${$vo.money}</td>
                </tr>
                {/volist}
            </tbody>
        </table>
	</div>
</div>