<div class="footer-contact">
	<div class="footerInfo">
		<li>
			<div class="img"><img src="{:RES}/image/icon1.png"></div>
			<div class="text">
				<h1>正品承诺</h1>
				<p>澳大利亚实体企业100%正品</p>
			</div>
		</li>
		<li>
			<div class="img"><img src="{:RES}/image/icon2.png"></div>
			<div class="text">
				<h1>空运直邮</h1>
				<p>坚持直邮第6年</p>
			</div>
		</li>
		<li>
			<div class="img"><img src="{:RES}/image/icon3.png"></div>
			<div class="text">
				<h1>无痕代发</h1>
				<p>绝不留有任何本站信息</p>
			</div>
		</li>
		<li>
			<div class="img"><img src="{:RES}/image/icon5.png"></div>
			<div class="text">
				<h1>低价保障</h1>
				<p>明码标价 价格美丽</p>
			</div>
		</li>
	</div>
	<div class="clearfix"></div>
	<div class="footerMenu">
		<a href="{:url('About/index',array('id'=>1))}">关于我们</a>
		<a href="{:url('About/index',array('id'=>2))}">消费指南</a>
		<a href="{:url('About/index',array('id'=>4))}">用户协议</a>
		<a href="{:url('About/index',array('id'=>3))}">支付方式</a>		
		<a href="{:url('About/index',array('id'=>5))}">联系我们</a>
	</div>
	<div class="footerLogo"><img src="{:RES}/image/footerLogo.png"></div> 
</div>
<input type="hidden" id="loginBg" value="{$loginBg}">
<div class="copyright">版权所有：{:config('site.copyright')}</div>
<script type="text/javascript">
$(function(){
	$.get("{:url('index/visitor')}");
})
</script>