<div class="usermenu">
    <div class="leftLogo"></div>
    <div class="title"><a href="{:url('member/index')}">用户中心</a></div>

    <div class="hd"><i class="layui-icon layui-icon-form"></i> 我的订单</div>
    <ul>
        <li><a href="{:url('order/index')}">在线订单</a></li>
        <li><a href="{:url('shop/index')}">店面订单</a></li>
    </ul>

    <div class="hd"><i class="layui-icon layui-icon-username"></i> 账户资料</div>
    <ul>
        <li><a href="{:url('Member/info')}">我的信息</a></li>
        <li><a href="{:url('member/finance')}">我的余额</a></li>
        <li><a href="{:url('member/history')}">充值记录</a></li>
        <li><a href="{:url('Member/password')}">修改密码</a></li>
        <li><a href="{:url('address/index')}">收件人管理</a></li>
        <li><a href="{:url('address/sender')}">寄件人管理</a></li>
    </ul>

    <div class="hd"><i class="layui-icon layui-icon-about"></i> 客户服务</div>
    <ul>
        <li><a href="{:url('Member/about')}">关于我们</a></li>
        <!-- <li><a href="{:url('Member/feedback')}">投诉建议</a></li>
        <li><a href="{:url('Member/help')}">帮助中心</a></li> -->
        <li><a href="{:url('login/signout')}">退出</a></li>
    </ul>
</div>