{__NOLAYOUT__}

<div class="productList" style="margin-top:2px">
    {volist name="list" id="vo" empty="$empty"}
    <li>
        <div class="item">
            <a href="{$vo.url}">
            <img src="{$vo.picname|getThumb=280,280}">    
            <p class="mui-ellipsis">{$vo.name}</p>
            {gt name="user.id" value="0"}
            <span>${$vo.price}</span><span><i>/会员</i>${$vo.price1}</span>
            {/gt}
            {eq name="vo.empty" value="1"}<div class="sold_out">售罄</div>{/eq}
            </a>
        </div>
    </li>
    {/volist}
</div>