{__NOLAYOUT__}

<div class="productList" style="margin-top:2px">
    {volist name="list" id="vo" empty="$empty"}
    <li>
        <div class="item">
            <a href="{$vo.url}">
            <img src="{$vo.picname|getThumb=280,280}">    
            <p>{$vo.name}</p>
            </a>
            {gt name="user.id" value="0"}
            <span>${$vo.price}</span><span><i>/会员</i>${$vo.price1}</span>
            <div class="action {eq name="vo.empty" value="0"}canBuy{/eq}" data-id="{$vo.goodsID}" data-type="{$vo.typeID}" spec-id="{$vo.id}">  
                <span class="set" data-action="dec">-</span>
                <i id="number{$vo.id}">0</i>
                <span class="set" data-action="inc">+</span>
            </div>
            {/gt}
            {eq name="vo.empty" value="1"}<div class="sold_out">售罄</div>{/eq}    
            {gt name="vo.tag" value="0"}
            <div class="baoyou_tag b_tag{$user.id}"><img src="/app/www/view/common/image/tag{$vo.tag}.png"></div>
            {/gt}        
        </div>
    </li>
    {/volist}
</div>