<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <a class="mui-action-menu mui-icon mui-icon-search mui-pull-right" onclick="window.location.href='{:url('store/search')}'"></a>
    <h1 class="mui-title"><div class="cateTab"><span><a href="{:url('store/category')}">按分类</a></span><span><a href="{:url('store/brand')}">按品牌</a></span><span class="active"><a href="{:url('store/brandlist')}">所有品牌</a></span></div></h1>
</header>

{include file="public/nav" /}

<div class="mui-content">
<div class="pinyin">常用保健品</div>
<div class="pinpai">
    {volist name="comm" id="f"}
    <li>
        <a href="{:url('store/brand','bid='.$f['id'])}"><img src="{$f.logo|getThumb=200,125}" alt="{$f.name}"><p class="mui-ellipsis">{$f.name}</p></a>
    </li>
    {/volist}
</div>

{volist name="list" id="vo"}
<div class="pinyin">{$vo.py}</div>
<div class="pinpai">
    {volist name="vo.small" id="f"}
    <li>
        <a href="{:url('store/brand','bid='.$f['id'])}"><img src="{$f.logo|getThumb=200,125}" alt="{$f.name}"><p class="mui-ellipsis">{$f.name}</p></a>
    </li>
    {/volist}
</div>
{/volist}
</div>

<input type="hidden" id="activeIndex" value="brand" />