{include file="public/nav" /}

<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">搜索</h1>
</header>

<div id="app" class="mui-content">
    <div class="topSearch">
        <input type="text" name="keyword" id="keyword" v-model="keyword" class="mui-input-clear" placeholder="商品名称">
    </div>

    <div class="productList">
        <div id="loadding" class="loadding" v-show="loadShow">
            <span class="mui-spinner"></span>
        </div> 
        <li v-for="vo in lists">
            <div class="item">
                <a :href="vo.url">
                <img :src="vo.picname">    
                <p class="mui-ellipsis">{{vo.name}}</p>
                </a>
                {gt name="user.id" value="0"}
                <span>{{vo.price}}</span><span><i>/会员</i>{{vo.price1}}</span>

                <div class="action" :class="{'canBuy':vo.empty==0}" :data-id="vo.goodsID" :data-type="vo.typeID" :spec-id="vo.id">
                    <span class="set" data-action="dec">-</span>
                    <i :id="'number'+vo.id">0</i>
                    <span class="set" data-action="inc">+</span>
                </div>
                {/gt}
                <div class="sold_out" v-if="vo.empty==1">售罄</div>

                <div class="baoyou_tag b_tag{$user.id}" v-if="vo.tag>0"><img :src="'/app/www/view/common/image/tag'+vo.tag+'.png'"></div>
            </div>
        </li>
    </div>
</div>
<script type="text/javascript" src="{:RES}/js/fly.js"></script>
<script>
mui.init();
vm = new Vue({
    el : "#app",
    data : {
        loadShow : false,
        keyword : '{$keyword}',
        lists:[]
    },
    watch : {
        keyword : function(newValue,oldValue){
            if (newValue!=''){
                this.loadShow = true;
                this.search(newValue);
            }else{
                this.lists = [];
            }         
        }
    },
    methods: {
        search : function(keyword){
            var that = this;
            data = {
                keyword : keyword
            };
            url = "{:url('store/search')}";
            $.post(url,data,function(res){        
                that.loadShow = false;        
                that.lists = res;
            },'json')
        }
    },
    created : function(){ 
        if(this.keyword!=''){
            this.loadShow = true;
            this.search(this.keyword);
        }      
    }
});
</script>