<layout name='layout' />

<form class="layui-form">
	<div class="layui-tab">
		<ul class="layui-tab-title">
			{foreach name="group_list" item="vo" key="k"}
         		<a href="{:url('Setting/index',array('inc_type'=>$k))}"><li {if condition="$k eq 'kuaidi'"}class="layui-this"{/if}>{$vo}</li></a>
         	{/foreach}
		</ul>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">红酒快递</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="kuaidi15" value="{$config.kuaidi15}" placeholder="名称" class="layui-input">
		</div>

		<label class="layui-form-label">运费</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="price15" value="{$config.price15}" placeholder="请输入运费" class="layui-input">
		</div>

		<label class="layui-form-label">会员价</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="huiyuan15" value="{$config.huiyuan15}" placeholder="请输入会员价" class="layui-input">
		</div>

		<label class="layui-form-label">成本</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="inprice15" value="{$config.inprice15}" placeholder="请输入成本" class="layui-input">
		</div>

		<label class="layui-form-label">偏远加收</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="otherPrice15" value="{$config.otherPrice15}" placeholder="请输入运费" class="layui-input">
		</div>

		<label class="layui-form-label">查询网址</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="url15" value="{$config.url15}" lay-verify="url" placeholder="请输入网址" class="layui-input">
		</div>
	</div>	

	<div class="layui-form-item">
		<label class="layui-form-label">面单快递</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="kuaidi16" value="{$config.kuaidi16}" placeholder="名称" class="layui-input">
		</div>

		<label class="layui-form-label">运费</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="price16" value="{$config.price16}" placeholder="请输入运费" class="layui-input">
		</div>

		<label class="layui-form-label">会员价</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="huiyuan16" value="{$config.huiyuan16}" placeholder="请输入会员价" class="layui-input">
		</div>

		<label class="layui-form-label">成本</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="inprice16" value="{$config.inprice16}" placeholder="请输入成本" class="layui-input">
		</div>

		<label class="layui-form-label">偏远加收</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="otherPrice16" value="{$config.otherPrice16}" placeholder="请输入运费" class="layui-input">
		</div>

		<label class="layui-form-label">查询网址</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="url16" value="{$config.url16}" lay-verify="url" placeholder="请输入网址" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">生鲜快递</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="kuaidi17" value="{$config.kuaidi17}" placeholder="名称" class="layui-input">
		</div>

		<label class="layui-form-label">运费</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="price17" value="{$config.price17}" placeholder="请输入运费" class="layui-input">
		</div>

		<label class="layui-form-label">会员价</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="huiyuan17" value="{$config.huiyuan17}" placeholder="请输入会员价" class="layui-input">
		</div>

		<label class="layui-form-label">成本</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="inprice17" value="{$config.inprice17}" placeholder="请输入成本" class="layui-input">
		</div>

		<label class="layui-form-label">偏远加收</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="otherPrice17" value="{$config.otherPrice17}" placeholder="请输入运费" class="layui-input">
		</div>

		<label class="layui-form-label">查询网址</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="url17" value="{$config.url17}" lay-verify="url" placeholder="请输入网址" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">澳邮运费</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="price1" value="{$config.price1}" placeholder="请输入运费" class="layui-input">
		</div>

		<label class="layui-form-label">会员价</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="huiyuan1" value="{$config.huiyuan1}" placeholder="请输入会员价" class="layui-input">
		</div>

		<label class="layui-form-label">成本</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="inprice1" value="{$config.inprice1}" class="layui-input">
		</div>

		<label class="layui-form-label">偏远加收</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="otherPrice1" value="{$config.otherPrice1}" placeholder="请输入运费" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">中邮运费</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="price2" value="{$config.price2}" placeholder="请输入运费" class="layui-input">
		</div>

		<label class="layui-form-label">会员价</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="huiyuan2" value="{$config.huiyuan2}" placeholder="请输入会员价" class="layui-input">
		</div>

		<label class="layui-form-label">成本</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="inprice2" value="{$config.inprice2}" class="layui-input">
		</div>

		<label class="layui-form-label">偏远加收</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="otherPrice2" value="{$config.otherPrice2}" placeholder="请输入运费" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">中环运费</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="price3" value="{$config.price3}" placeholder="请输入运费" class="layui-input">
		</div>

		<label class="layui-form-label">会员价</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="huiyuan3" value="{$config.huiyuan3}" placeholder="请输入会员价" class="layui-input">
		</div>

		<label class="layui-form-label">成本</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="inprice3" value="{$config.inprice3}" class="layui-input">
		</div>

		<label class="layui-form-label">偏远加收</label>
		<div class="layui-input-inline" style="width: 100px">
			<input type="text" name="otherPrice3" value="{$config.otherPrice3}" placeholder="请输入运费" class="layui-input">
		</div>
	</div>

	<hr>

	<div class="layui-form-item">
		<label class="layui-form-label"></label>
     	<button class="layui-btn" lay-submit="" lay-filter="edit" url="{:url('Setting/insert')}"><i class="layui-icon">&#xe642;</i>保存</button>
    </div>
	<input type="hidden" name="inc_type" value="{$inc_type}">
</form>