{include file="public/nav" /}
<style>
.welcome{padding: 10px;}
.close{text-align: center; height:40px; position: relative; border-bottom: 1px #dbdfdf solid; background: #fff; z-index: 999}
.close h1{font-size: 14px; font-weight: normal; line-height: 40px; text-align: center; width: 100%;}
.close i{position: absolute; right: 10px; top: 6px; display: block; width:24px; height:24px; border-radius: 50%; border:1px #ddd solid; text-align: center; line-height: 24px; cursor: pointer;}
#topPopover {
    position: fixed;
    top: 25%;
    right:10%;
    width: 80%;
    height:50%;
}
.indexSearch{clear: both; display: flex; margin-bottom: 1px; background: #1e7a89; padding:5px; padding-right: 0}
.indexSearch input{border: 0; border-radius: 0; flex: 1; margin: 0; height: 36px; line-height: 36px}
.indexSearch .searchBtn{width: 40px; height:36px; line-height:36px; text-align: center; cursor: pointer; color: #fff}
.indexSearch .searchBtn i{margin-top: 3px;}
</style>
<div class="mui-content" style="margin-top:0">

    <div class="indexHeader">
        <div class="logo"><img src="{:RES}/image/logo.png"></div>  
        <div class="search" onclick="window.location.href='{:url('about/index')}'">
            用户须知
        </div>
    </div>
    
    <div style="height:50px;clear:both"></div>

    <div class="indexSearch">
        <input type="text" name="keyword" id="keyword" class="mui-input-clear" placeholder="商品名称">
        <div class="searchBtn">
            <i class="mui-icon mui-icon-search"></i>
        </div>
    </div>
    <script type="text/javascript">
    $(function(){
        $(".searchBtn").click(function(){
            if ($("#keyword").val()!=''){
                window.location.href = "{:url('store/search')}?keyword="+$("#keyword").val()
            }
        })
    })
    </script>
    
    {volist name="indexCate" id="item"}
    <div class="indexTitle">
        <p>{$item.name}</p>
        <span><a href="{:url('store/index','path='.$item['path'])}">更多</a></span>
    </div>

    <div class="productList" style="margin-top:2px">
        {volist name="item.goods" id="vo" empty="$empty"}
        <li>
            <div class="item">
                <a href="{$vo.url}">
                <img src="{$vo.picname|getThumb=280,280}">    
                <p class="mui-ellipsis">{$vo.name}</p>
                </a>
                {gt name="user.id" value="0"}
                <span>${$vo.price}</span><span><i>/会员</i>${$vo.price1}</span>
                <div class="action {eq name="vo.empty" value="0"}canBuy{/eq}" data-id="{$vo.goodsID}" data-type="{$vo.typeID}" spec-id="{$vo.id}">  
                    <span class="set" data-action="dec">-</span>
                    <i id="number{$vo.id}">0</i>
                    <span class="set" data-action="inc">+</span>
                </div>
                {/gt}
                {eq name="vo.empty" value="1"}<div class="sold_out">售罄</div>{/eq}
                {gt name="vo.tag" value="0"}
                <div class="baoyou_tag b_tag{$user.id}"><img src="/app/www/view/common/image/tag{$vo.tag}.png"></div>
                {/gt}
            </div>
        </li>
        {/volist}
    </div>
    {/volist}
</div>

<div id="topPopover" class="mui-popover">
    <div class="close">
        <h1>欢迎访问AGS代购服务平台</h1>
        <i class="mui-icon mui-icon-closeempty" id="close"></i>
    </div>
    <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
            <div class="welcome">{$welcome.content}</div>
        </div>
    </div>
</div> 

<div class="kefu"><a href="{:url('About/kefu')}"><i class="icon icon-service"></i></a></div>

<input type="hidden" id="activeIndex" value="index" />
<script type="text/javascript" src="{:RES}/js/fly.js"></script>
<script>
mui.init();
if(!getCookie('first')){
    mui('.mui-scroll-wrapper').scroll();
    mui('#topPopover').popover('toggle');

    $("#close").click(function(){
        mui('#topPopover').popover('toggle');
    })
    setCookie('first','1',0);
}
function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue;
}
//获取cookie
function getCookie(cname) {
    var arr, reg = new RegExp("(^| )" + cname + "=([^;]*)(;|$)");
    if (arr = document.cookie.match(reg))
        return (arr[2]);
    else
        return null;

}
</script>