<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<style type="text/css">
body,html{height: auto; overflow: auto;}
</style>
<script>
$(function(){
	layui.use('layer',function(){
		layer = layui.layer;
		if(!getCookie('first')){
	        layer.open({
	            //skin: 'demo-class',
	            closeBtn :0,
	            title:'欢迎访问{:config('site.name')}',
	            content:'<div style="height:200px">{$welcome.content}</div>',
	            area: ['500px', 'auto']
	        });
	        setCookie('first','1',0);
	    }
	})    
})

function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue;
}
//获取cookie
function getCookie(cname) {
    var arr, reg = new RegExp("(^| )" + cname + "=([^;]*)(;|$)");
    if (arr = document.cookie.match(reg))
        return (arr[2]);
    else
        return null;

}
</script>
</head>
<body>
{include file="public:header" /}
<div class="main">

	<div class="categoryBox">		
		{volist name="treeMenu" id="vo" key="k"}
	    <li>
	    	<div class="category">
	    		{empty name="vo.url"}
	    		<a href="{:url('store/index','path='.$vo['path'])}" {notempty name="vo.color"}style="color:{$vo.color}"{/notempty}>{$vo.name}</a>
	    		{else/}
	    		<a href="{$vo.url}" {notempty name="vo.color"}style="color:{$vo.color}"{/notempty}>{$vo.name}</a>
	    		{/empty}
	    	</div>
	    </li>
	    {/volist}		
	</div>
	
	{volist name="indexCate" id="item"}
	<div class="indexTitle"><a href="{:url('store/index','path='.$item['path'])}"><h1>{$item.name}</h1></a></div>

	<div class="productList">
		{volist name="item.goods" id="vo" empty="$nogoods"}	
	    <li>
	    	<div class="product">
				<a href="javascript:void(0)" onclick="openModel('{$vo.url}','商品详情','1100px','80%')">
				<img src="{$vo.picname|getThumb=280,280}" alt="">
				</a>
				<div class="bd">
					<a href="javascript:void(0)" onclick="openModel('{$vo.url}','商品详情','1100px','80%')">
					<h1>{$vo.name}</h1>
					<p class="layui-elip">{$vo.say}</p>					
					<div class="price">
						<p><span>{$vo.unit}{$vo.price}</span>/会员<span>{$vo.unit}{$vo.price1}</span></p>
						{eq name="vo.cur" value="au"}
						<p>约￥{$vo.rmb}</p>
						{/eq}
					</div>
					</a>
					{gt name="user.id" value="0"}
					<div class="setNumber {eq name="vo.empty" value="0"}canBuy{/eq}" data-id="{$vo.goodsID}" data-type="{$vo.typeID}" spec-id="{$vo.id}">
						<span class="set" data-action="dec">-</span>						
						<div class="cartIcon">							
							<i class="layui-icon layui-icon-cart"></i>
							<p id="number{$vo.id}">0</p>
						</div>
						<span class="set" data-action="inc">+</span>
					</div>
					{/gt}
				</div>
				<a href="javascript:void(0)" onclick="openModel('{$vo.url}','商品详情','1100px','80%')">
				{eq name="vo.empty" value="1"}<div class="sold_out"><img src="{:RES}/image/sold-out.png"></div>{/eq}
                {gt name="vo.tag" value="0"}
                <div class="baoyou_tag b_tag{$user.id}"><img src="{:RES}/image/tag{$vo.tag}.png"></div>
                {/gt}
            	</a>            	
	    	</div>
	    </li>
	    {/volist}
	</div>
	{/volist}
</div>
<script type="text/javascript" src="{:RES}/js/cart.js"></script>
{include file="public:footer" /}
</body>
</html>